<h2 class=sign-up-title>Sign Up</h2>

<div class="registration-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field password-wrapper">
      <%= f.label :password, "パスワード", class: "form-label" %>
      <div class="password-input-container">
        <%= f.password_field :password, autocomplete: "new-password", id: "user_password", class: "password-input" %>
        <span class="toggle-password-visibility" data-target="user_password">
          <i class="fa-solid fa-eye-slash" style="color: #afafaf;"></i>
        </span>
      </div>
    </div>
    
    <div class="field password-wrapper">
      <%= f.label :password_confirmation, "パスワードを再入力", class: "form-label" %>
      <div class="password-input-container">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_password_confirmation", class: "password-input" %>
        <span class="toggle-password-visibility" data-target="user_password_confirmation">
          <i class="fa-solid fa-eye-slash" style="color: #afafaf;"></i>
        </span>
      </div>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="actions">
      <%= f.submit "作成" %>
    </div>
  <% end %>
</div>

<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>