<div class="comment-page-container">
  <div class="comment-wrapper">
    <h2 class="main-title">Comments</h2>
    <hr>
    
    <% @comments.each do |comment| %>
      <div class="comments-list">
        <% if comment.user == current_user %>
          <div class="dropdown">
            <button class="dropdown-toggle" onclick="event.stopPropagation()">⋯</button>
            <div class="dropdown-menu comment-menu" hidden>
              <%= button_to '削除', comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </div>
          </div>
        <% end %>

        <strong><%= comment.user.email %></strong>
        <p><%= comment.content %></p>
        <small><%= comment.created_at.strftime('%m/%d') %></small>
      </div>
    <% end %>
  </div>

  <%= link_to new_comment_path, class: "floating-button" do %>
    <i class="fa-solid fa-plus fa-3x" style="color: #ffffff; position: relative; top: 3px;"></i>
  <% end %>
</div>
