<div class="comment-page-container">
  <div class="comment-wrapper">
    <h2 class="main-title">Comments</h2>
    <i class="fa-solid fa-pen"></i>
    <%= link_to "ユーザー名の変更", edit_user_path(current_user), class: "no-decolation-link mini-font-size" %>

    <hr>

    <% if @comments.empty? %>
      <p class="no-comment-text">no comments...</p>
    <% else %>
      <% @comments.each do |comment| %>
        <div class="comments-list">
          <div class="comment-header">
            <strong><%= comment.user.name %></strong>

            <%= link_to new_comment_path(parent_id: comment.id), class: "reply-link" do %>
              <i class="fa-regular fa-message" style="color: #9e9e9e; margin-right: 4px;"></i>
            <% end %>

            <% if comment.user == current_user %>
              <%= button_to comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "icon-button" do %>
                  <i class="fa-solid fa-trash-can" style="color: #9e9e9e;"></i>
                <% end %>
            <% end %>
          </div>

          <p><%= comment.content %></p>

          <% comment.replies.each do |reply| %>
            <div class="reply">
              <strong><%= reply.user.name %></strong>
              <p><%= reply.content %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_comment_path, class: "floating-button" do %>
    <i class="fa-solid fa-plus fa-3x" style="color: #ffffff; position: relative; top: 3px;"></i>
  <% end %>
</div>
