<div class="comment-wrapper">
  <h2 class="main-title">投稿</h2>
  <hr>

  <%= form_with model: @comment, url: comments_path, local: true do |f| %>
    <%= f.text_area :content, rows: 5, class: "form-textarea"  %>
    <%= f.submit '投稿', class: "comment-submit-button" %>
  <% end %>

  <% if notice %>
    <p style="color: green;"><%= notice %></p>
  <% end %>

  <div style="margin-top: 1rem;">
    <i class="fa-solid fa-chevron-left" style="color: #9e9e9e;"></i>
    <%= link_to 'もどる', comments_path %>
  </div>
</div>
