<%= form_with model: task, local: true do |f| %>
    <div><%= f.label :title, "目標" %><%= f.text_field :title %></div>
    <div><%= f.label :description,"メモ"  %><%= f.text_area :description %></div>
    <div>
        <%= f.label :category, "カテゴリー" %>
        <%= f.select :category, Task::CATEGORIES %>
    </div>
    <div>
        <%= f.label :frequency_unit, "頻度" %>
        <%= f.select :frequency_number, Task::FREQUENCY_RANGE %>
        <%= f.select :frequency_unit, Task::FREQUENCY_UNITS_LIST %> に1回
    </div>
    <div><%= f.label :message, "自分への応援メッセージ" %><%= f.text_area :message %></div>
    <div><%= f.label :start_date, "開始日" %><%= f.date_select :start_date %></div>
    <div><%= f.label :end_date, "完了日" %><%= f.date_select :end_date %></div>


    <%= f.label :color, "テーマカラー" %>
    <%= f.hidden_field :color, id: "color_input" %>
  
    <div id="color_palette" style="display:flex; gap:8px; margin-top:8px;">
    <% Task::COLOR_CODES.each do |name, code| %>
      <div
        class="color-swatch"
        data-color="<%= code %>"
        style="width: 30px; height: 30px; background-color: <%= code %>; cursor: pointer; border: 2px solid transparent;"
        title="<%= name %>"
      ></div>
    <% end %>
  </div>


    <div><%= f.submit %></div>
<% end %>
  