<%= form_with model: task , local: false do |f| %>
  <div class="form-two-column">
      
  <!-- 左カラム -->
    <div class="form-column">
      <div class="form-group">
        <%= f.label :title, "目標" %><br>
        <%= f.text_field :title, class: "input-form" %>
      </div>

      <div class="form-group">
        <%= f.label :description,"メモ"  %><br>
        <%= f.text_area :description, class: "form-textarea" %>
      </div>

      <div class="form-group">
        <%= f.label :category, "カテゴリー" %><br>
        <%= f.select :category, Task::CATEGORIES, {}, class: "category-select" %>
      </div>

      <div class="form-group">
        <%= f.label :frequency_unit, "頻度" %><br>
        <%= f.select :frequency_number, Task::FREQUENCY_RANGE, {}, class: "form-select" %>
        <%= f.select :frequency_unit, Task::FREQUENCY_UNITS_LIST, {}, class: "form-select" %> に1回
      </div>
    </div>
  
    <!-- 右カラム -->
    <div class="form-column">
      <div class="form-group">
        <%= f.label :message, "自分への応援メッセージ" %><br>
        <%= f.text_area :message, class: "form-textarea" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, "開始日", for: nil %><br>
        <%= f.date_select :start_date, {}, class: "form-select" %>
      </div>

      <div class="form-group">
        <%= f.label :end_date, "完了日", for: nil %><br>
        <%= f.date_select :end_date, {}, class: "form-select" %>
      </div>
  
      <div class="form-group">
        <%= f.label :color, "テーマカラー" %><br>
        <%= f.hidden_field :color, id: "color_input" %>
            <div id="color_palette">
            <% Task::COLOR_CODES.each do |name, code| %>
                <div
                class="color-swatch"
                data-color-name="<%= name %>"
                data-color-code="<%= code %>"
                style="border-color: <%= code %>;"
                title="<%= name %>"
                >
                <span class="color-name"><%= name %></span>
                </div>
            <% end %>
            </div>
      </div>

      <div id="modal-errors"></div>

      <div class="submit-button"><%= f.submit %></div>
    </div>
  
  </div>
<% end %>
  