<div class="page-layout">
  <div class="left-column">
    <div class="date-header">
      <div class="today-date">
        <%= Date.current.strftime("%-m.%-d(%a)") %>
      </div>
      <div class="random-message">
        <%= @random_message %>
      </div>
    </div>
    <div class="search-form">
      <%= form_with url: tasks_path, method: :get, local: true, html: { class: "search-form-inner" } do |form| %>
        <%= form.text_field :q, placeholder: "タスクのタイトル", value: params[:q], class: "task-search-input" %>
        <%= button_tag type: "submit", class: "task-search-button" do %>
          <%= image_tag("search.png", alt: "検索", class: "search-icon") %>
        <% end %>
        <%= link_to "全てのタスクを表示", tasks_path, class: "btn all-tasks-btn" %>
      <% end %>
    </div>
    <div class="scrollable-area">
      <div class="task-list-wrapper">
        <div>
          <h4>
            TO DO
            <span class="tooltip-icon">
              <%= image_tag("info.png", alt: "説明", class: "info-icon") %>
              <span class="tooltip-text">目標に取り組んだら、パネルをクリックしましょう！<br>取り組んだたことを記録できます</span>
            </span>
          </h4>
          <div class="task-list">
            <% @in_progress_tasks.each do |task| %>
              <div class="task-card" data-task-id="<%= task.id %>">
                <div class="dropdown">
                  <button class="dropdown-toggle" onclick="event.stopPropagation()">⋯</button>
                  <div class="dropdown-menu" hidden>
                    <a href="#" class="dropdown-item edit-task-btn" data-task-id="<%= task.id %>">編集</a>
                    <%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'dropdown-item' %>
                  </div>
                </div>
                <div class="progress-circle">
                  <div class="fill" style="<%= progress_circle_style(task) %>"></div>
                  <% image_file = task_category_image_map[task.category] || "default.png" %>
                  <img class="icon" src="<%= asset_path(image_file) %>" alt="Task">
                </div>
                <div class="task-title <%= "executed" if task.executed_today? %>">
                <div class="task-title-wrapper">
                  <span class="task-title"><%= task.title %></span>
                  <img src="<%= image_path("executed.png") %>" alt="実行済み" class="executed-icon" style="display: <%= task.executed_today? ? 'inline-block' : 'none' %>;">
                </div>
                </div>
              </div>
            <% end %>
            <% if params[:q].blank? %>
              <div class="task-card new-task-card" id="openNewTaskModal">
                <div class="plus-icon">＋</div>
                <div class="new-task-label">TO DO</div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="completed_tasks_list">
          <div class="completed-tasks-header">
            <h4>
              目標を達成したタスク
            </h4>
            <button id="toggle-completed-tasks-btn">
              <% if current_user.show_completed_tasks %>
                <i class="fa-solid fa-toggle-on fa-lg" style="color: #afafaf;"></i>
              <% else %>
                <i class="fa-solid fa-toggle-off fa-lg" style="color: #afafaf;"></i>
              <% end %>
            </button>
            <span class="tooltip-icon">
              <%= image_tag("info.png", alt: "説明", class: "info-icon") %>
              <span class="tooltip-text">
                最後まで目標を達成したタスクが表示されます<br>
                <%= @completed_tasks.any? ? "がんばったね！" : "これからがんばろう！" %>
              </span>
            </span>
          </div>

          <div class="task-list" id="completed-task-list" data-original-display="grid" style="<%= current_user.show_completed_tasks ? '' : 'display: none;' %>">
            <% @completed_tasks.each do |task| %>
              <div class="task-card completed">
                <div class="dropdown">
                  <button class="dropdown-toggle" onclick="event.stopPropagation()">⋯</button>
                  <div class="dropdown-menu" hidden>
                    <%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'dropdown-item' %>
                  </div>
                </div>
                <div class="progress-circle">
                  <div class="fill" style="background: conic-gradient(<%= task.color_code %> <%= task.completion_rate %>%, #ffffff <%= task.completion_rate %>%, #ffffff 100%);"></div>
                  <% image_file = task_category_image_map[task.category] || "default.png" %>
                  <img class="icon" src="<%= asset_path(image_file) %>" alt="Task">
                </div>
                <div class="task-title">
                  <%= task.title %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-column">
    <div class="calendar-wrapper">
      <h4>
        CALENDAR
        <span class="tooltip-icon">
          <%= image_tag("info.png", alt: "説明", class: "info-icon") %>
          <span class="tooltip-text">カレンダーの日付をクリックすると、その日の記録を<br>見られます</span>
        </span>
      </h4>
      <div class="calender-container">
        <table class="calendar">
          <div class="calendar-month-title">
            <%= @current_month %>月
          </div>
          <tbody>
          <% @current_month_dates.each_slice(7) do |week| %>
            <tr>
              <% week.each do |date| %>
                <% tasks_on_date = @tasks_on_date[date] || [] %>
                <% titles = tasks_on_date.map { |t| t.title.presence }.join(', ') %>
                <td
                  class="calender-cell <%= 'checked' if tasks_on_date.any? %>"
                  data-task-titles="<%= tasks_on_date.map { |t| t.title.presence }.join(',') %>"
                >
                  <div class="task-background">
                    <% tasks_on_date.each_with_index do |task, index| %>
                      <span class="task-span"
                        style="background-color: <%= task.color_code %>; width: <%= 100 / tasks_on_date.size %>%;"
                      ></span>
                    <% end %>
                  </div>
                  <div class="date-number">
                    <strong><%= date.day %></strong>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="graph-wrapper">
      <h4>
        GRAPH
        <span class="tooltip-icon">
          <%= image_tag("info.png", alt: "説明", class: "info-icon") %>
          <span class="tooltip-text">目標の何％が実行できたかを確認できます</span>
        </span>
      </h4>
      <div class="graph-container" style="position: relative;">
        <span style="position: absolute; top: 20px; font-size: 9px; padding-left: 25px;">％</span>
        <%= column_chart(@chart_data, height: "200px", stacked: true) %>
      </div>
    </div>

    <%= link_to 'コメント一覧', comments_path %>
        <div class="graph-wrapper">
      <h4>
        GRAPH
        <span class="tooltip-icon">
          <%= image_tag("info.png", alt: "説明", class: "info-icon") %>
          <span class="tooltip-text">目標の何％が実行できたかを確認できます</span>
        </span>
      </h4>
      <div class="graph-container" style="position: relative;">
        <span style="position: absolute; top: 20px; font-size: 9px; padding-left: 25px;">％</span>
        <%= column_chart(@chart_data, height: "200px", stacked: true) %>
      </div>
    </div>
  </div>
</div>

<div id="taskModal" class="task-log-modal" style="display: none;">
  <div class="task-log-modal-content">
    <ul id="modalTaskList"></ul>
  </div>
</div>

<div id="newTaskModal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="back-button">
        <button id="closeNewTaskModal" class="close-modal">
          <i class="fa-solid fa-xmark fa-2x" style="color: #afafaf;"></i>
        </button>
      </div>
    </div>
    <h1>Add New Task...</h1>
    <div id="newTaskModalBody">
      <%= render 'form', task: Task.new %>
    </div>
  </div>
</div>

<div id="editTaskModal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="back-button">
        <button id="closeEditTaskModal" class="close-modal">
          <i class="fa-solid fa-xmark fa-2x" style="color: #afafaf;"></i>
        </button>
      </div>
    </div>
    <h1>Edit Task...</h1>
    <div id="editTaskModalBody"></div>
  </div>
</div>

