<ul>
  <% (@task.start_date..@task.end_date).each do |date| %>
    <li>
      <%= form_with url: task_task_logs_path(@task), method: :post, remote: true, html: { class: "inline-form" } do %>
        <%= hidden_field_tag :task_id, @task.id %>
        <%= hidden_field_tag :executed_on, date %>
        <%= check_box_tag "executed_on_#{date}",
                          date,
                          @task.task_logs.exists?(executed_on: date),
                          onchange: "this.form.submit();" %>
        <%= date.strftime("%Y-%m-%d") %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to '戻る', tasks_path, class: 'btn btn-primary' %>

