<h1>タスク一覧</h1>

<%= link_to '新規作成', new_task_path %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>カテゴリ</th>
      <th>期間</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.category %></td>
        <td><%= task.start_date&.to_date %> ～ <%= task.end_date&.to_date %></td>
        <td>
          <%= link_to '表示', task_path(task) %> |
          <%= link_to '編集', edit_task_path(task) %> |
          <%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
